body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/* all products */

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.product {
  margin: 5px 5px;
}
.single-product {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid gray;
  height: 650px;
}

/* cart */

.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 5px 25px grey;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
